@charset "UTF-8";
fieldset legend, .convenienceButtons .close, .repInspector h2, .repInspector th {
  font: 1em/1.2 Verdana, sans-serif; }

fieldset legend, .convenienceButtons .close, .repInspector h2 {
  text-transform: uppercase;
  letter-spacing: .05em;
  font-weight: bold; }

fieldset legend, .convenienceButtons .close, form, .repInspector.moving caption {
  cursor: default;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none; }

#map {
  width: 10em;
  height: 14em; }
  #map svg {
    width: 100%;
    max-width: 100%;
    max-height: 14em; }
  #map path {
    cursor: pointer;
    fill: #fff;
    stroke-width: 1px;
    stroke: #ccc; }
  #map path:hover,
  #map path.active:hover {
    stroke-width: 2px;
    stroke: #111;
    fill-opacity: .5; }
  #map path.active {
    stroke-width: 1px;
    fill: #ddd;
    stroke: #111; }

circle {
  cursor: pointer; }

circle.linke {
  fill: #d703d7; }
  circle.linke:hover {
    fill: #fc44fc; }

.arc.linke {
  fill: #ffebff; }

circle.spd {
  fill: #f90000; }
  circle.spd:hover {
    fill: #ff6060; }

.arc.spd {
  fill: #ffebeb; }

circle.gruene {
  fill: #64dc00; }
  circle.gruene:hover {
    fill: #98ff43; }

.arc.gruene {
  fill: #f4ffeb; }

circle.cducsu {
  fill: #111; }
  circle.cducsu:hover {
    fill: #444444; }

.arc.cducsu {
  fill: whitesmoke; }

.unsupportedMessage {
  font: 1.2em Verdana, sans-serif;
  position: fixed;
  z-index: 20;
  display: none;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 1em;
  background-color: #eee;
  color: #555; }
  .unsupportedMessage:before {
    content: "ಠ_ಠ"; }

/*body*/
.unsupported,
.no-svg,
.no-inlinesvg {
  margin: 0; }
  .unsupported .unsupportedMessage,
  .no-svg .unsupportedMessage,
  .no-inlinesvg .unsupportedMessage {
    display: block; }

body {
  font: 1em/1.2em Georgia, "Linux Libertine", serif; }

a {
  text-decoration: none;
  color: #c60000; }
  a:hover {
    border-bottom: 1px solid #c60000; }
  a:visited {
    color: #f90000; }
  a:visited:hover {
    border-bottom-color: #f90000; }

abbr {
  cursor: inherit;
  border: none; }

header {
  max-width: 800px;
  margin: 1.5em auto; }
  header h1 {
    font-size: 1.6em;
    line-height: 1em;
    font-weight: normal; }

#parliamentContainer {
  overflow: hidden;
  width: 100%;
  margin: 0 auto; }

#parliament {
  z-index: 3;
  width: 100%;
  max-width: 800px;
  height: auto;
  margin: 0 auto; }

form {
  text-align: center; }

fieldset {
  position: relative;
  display: inline-block;
  margin: 2em 1em 0 0;
  padding: 0;
  text-align: left;
  vertical-align: top;
  border: none; }
  fieldset legend {
    margin: 1em 0 .2em 0; }
  fieldset ul {
    margin: 0;
    padding: 0;
    list-style: none; }

input[type=checkbox] {
  display: none; }

label {
  font-family: Verdana, sans-serif;
  display: inline-block;
  min-height: 1.3em;
  padding: 0 0.1em 0 1em;
  cursor: pointer;
  transition: background-color 0.1s ease;
  color: #555; }
  label:before {
    display: inline-block;
    width: 0.7em;
    margin-left: -1em;
    content: " "; }

label:hover {
  background-color: rgba(0, 0, 0, 0.1); }

label.active {
  color: #000;
  border-left-color: transparent; }
  label.active:before {
    content: "✓"; }

#land ul {
  display: none; }

.uiHint {
  font-size: .8em;
  position: absolute;
  bottom: 100%;
  height: auto;
  margin-bottom: -1.5em;
  padding: .2em;
  transition: all 0.2s ease;
  pointer-events: none;
  opacity: 1;
  background-color: rgba(255, 255, 255, 0.9); }
  .uiHint .modifierKey:before {
    content: "⇧"; }

.collapsed,
.startCollapsed {
  bottom: 95%;
  opacity: 0; }

input[type=submit] {
  display: none; }

.convenienceButtons {
  position: absolute;
  top: 1em;
  right: 1em;
  display: inline-block;
  margin: 0; }
  .convenienceButtons .close {
    line-height: 2em;
    width: 2em;
    height: 2em;
    margin: -.25em;
    cursor: pointer;
    border: none;
    border-radius: 1em;
    outline: none;
    background-color: transparent; }
    .convenienceButtons .close:hover {
      background-color: rgba(0, 0, 0, 0.2); }
    .convenienceButtons .close:active {
      background-color: rgba(0, 0, 0, 0.3); }

form .convenienceButtons {
  display: none;
  top: .4em;
  right: 1em; }

.linke {
  color: #d703d7; }

.spd {
  color: #f90000; }

.gruene {
  color: #64dc00; }

.cducsu {
  color: #111; }

.hidden {
  display: none; }

.repInspector {
  position: absolute;
  z-index: 10;
  box-sizing: border-box;
  max-height: 100%;
  margin: 1em 0 0 0;
  padding: .65em;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0.95);
  box-shadow: 0 0.1em 0.75em rgba(0, 0, 0, 0.1); }
  .repInspector.moving {
    pointer-events: none; }
    .repInspector.moving thead,
    .repInspector.moving tbody,
    .repInspector.moving tfoot {
      display: none; }
    .repInspector.moving caption {
      display: block;
      text-align: left; }
      .repInspector.moving caption:after {
        display: block;
        content: " (Für Details klicken)"; }
  .repInspector.fixed {
    overflow: auto;
    width: 22em; }
    .repInspector.fixed caption {
      display: none; }
  .repInspector h2 {
    margin: .2em 0 .5em;
    padding: 0 1.5em 0 0; }
  .repInspector .faction {
    text-transform: uppercase; }
  .repInspector .faction,
  .repInspector .land,
  .repInspector .mandate {
    font: 0.8em Verdana, sans-serif; }
  .repInspector .faction,
  .repInspector .land {
    margin-right: .1em;
    padding-right: .5em;
    border-right: 1px solid rgba(0, 0, 0, 0.2); }
  .repInspector tr.cat0 {
    color: #a8a8a8; }
  .repInspector table {
    font-size: .8em;
    display: block;
    width: 100%;
    border-collapse: collapse; }
  .repInspector tfoot th,
  .repInspector tfoot td {
    line-height: 2em;
    padding: 0; }
  .repInspector thead,
  .repInspector tbody,
  .repInspector tfoot {
    display: block;
    margin: 0 -.8em;
    padding: 0 .8em; }
  .repInspector thead,
  .repInspector tfoot {
    z-index: 3; }
  .repInspector tbody {
    z-index: 2;
    overflow: auto;
    max-height: 10em;
    border: 1px solid rgba(0, 0, 0, 0.05);
    border-right: none;
    border-left: none;
    -webkit-overflow-scrolling: touch; }
  .repInspector .minAmount,
  .repInspector .minSum {
    min-width: 5em;
    text-align: right; }
  .repInspector td,
  .repInspector th {
    width: 100%;
    vertical-align: bottom; }
  .repInspector th {
    text-align: left; }
  .repInspector th.number {
    text-align: right; }
  .repInspector td,
  .repInspector th {
    padding: .3em 0; }
  .repInspector a {
    color: #000; }
    .repInspector a:hover {
      border-bottom: 1px solid #000; }
    .repInspector a:visited {
      color: #1a1a1a; }
    .repInspector a:visited:hover {
      border-bottom-color: #1a1a1a; }

.repInspector.clone {
  top: 0 !important;
  left: 0 !important;
  display: block;
  visibility: hidden; }

.number {
  text-align: right;
  white-space: nowrap; }
  .number .digitGroup {
    padding-right: .2em; }
  .number .euro {
    font-size: .85em; }

.touch #map {
  width: 15em;
  height: 18em;
  padding-top: 3.1em; }
.touch #map svg {
  -webkit-transform: scale(1.5);
          transform: scale(1.5); }
.touch label {
  padding-top: .4em;
  padding-bottom: .4em; }

footer,
aside {
  font: 0.8em Verdana, sans-serif;
  clear: both;
  max-width: 800px;
  margin: .5em auto;
  padding-top: .5em;
  color: #a8a8a8; }
  footer p,
  aside p {
    float: left;
    margin: 0; }

footer nav ul {
  float: right;
  margin: 0;
  padding: 0;
  list-style: none; }
  footer nav ul li {
    display: inline;
    border-right: 1px solid rgba(0, 0, 0, 0.2);
    padding: 0 .4em 0 .1em; }
    footer nav ul li:last-of-type {
      border: none; }

@media screen and (max-width: 500px) {
  .repInspector {
    position: fixed;
    top: 0 !important;
    left: 0 !important;
    box-sizing: border-box;
    width: 100% !important;
    height: 100% !important;
    max-height: 100% !important;
    margin: -1px 0 0 0;
    padding: 1em;
    transition: top 0.5s ease;
    border-right: none;
    border-bottom: none;
    border-left: none;
    border-radius: 0;
    box-shadow: none; }

  .repInspector.fixed {
    margin: 0; }

  .repInspector.hidden,
  .repInspector.moving {
    top: 100% !important;
    display: block;
    margin-top: 1px; }

  body.inspectorFixed {
    overflow: hidden; } }
@media screen and (min-width: 501px) {
  html:not(.touch) .repInspector h2 {
    padding: 0; }
  html:not(.touch) .repInspector .close {
    display: none; } }
.short.narrow {
  margin-bottom: 5em; }
  .short.narrow form {
    box-sizing: border-box;
    overflow: auto;
    position: fixed;
    z-index: 5;
    bottom: -14em;
    left: 0;
    width: 100%;
    height: 16em;
    padding: .5em;
    transition: bottom 0.5s ease;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    background: rgba(255, 255, 255, 0.9); }
    .short.narrow form.fullScreen {
      height: 100% !important;
      bottom: 0 !important;
      margin-top: 0 !important; }
      .short.narrow form.fullScreen .convenienceButtons {
        display: inline-block; }
  .short.narrow fieldset,
  .short.narrow fieldset legend {
    margin-top: 0;
    padding-top: 0; }
  .short.narrow .uiHint {
    width: 100%;
    bottom: 10%;
    left: 100%; }
  .short.narrow .collapsed {
    left: 95%; }

.short.narrow .fullScreen .uiHint {
  width: 100%;
  left: 0;
  bottom: auto;
  top: 90%;
  z-index: 6; }

.short.narrow .fullScreen .collapsed {
  top: 85%; }

html:not(.touch) form:hover {
  bottom: 0 !important;
  margin-top: 0 !important; }

.touch .short.narrow form {
  height: 20em;
  bottom: -18em; }

.short.wide fieldset,
.short.wide #parliament {
  float: left; }
.short.wide form {
  float: left;
  max-width: 12em; }
.short.wide fieldset {
  margin-top: 0;
  margin-bottom: 1em; }
.short.wide #parliamentContainer {
  float: left;
  margin-right: 2em; }
.short.wide #parliament {
  position: fixed; }
.short.wide .uiHint {
  top: 0;
  width: 100%;
  margin-left: -110%;
  text-align: right; }
.short.wide .collapsed,
.short.wide .startCollapsed {
  top: 0;
  margin-left: -100%;
  opacity: 0; }
.short.wide footer {
  margin-left: 0; }

@media screen and (max-height: 450px) {
  .short.wide legend {
    display: none; } }
@media print {
  * {
    position: static !important; }

  .repInspector {
    display: block;
    width: 100%;
    max-width: 100%;
    border: none;
    box-shadow: none;
    padding: none;
    max-height: none !important; }
    .repInspector.moving {
      display: none; }

  thead,
  tfoot {
    box-shadow: none !important; }

  tbody {
    max-height: none !important; } }

/*# sourceMappingURL=screen.css.map */