@charset "UTF-8";
nav.tabs a, .closeButton, .repInspector h2, th {
  font: 1em/1.2 Verdana, sans-serif; }

nav.tabs a, .closeButton, .repInspector h2 {
  text-transform: uppercase;
  letter-spacing: .05em;
  font-weight: bold; }

nav.tabs a, .closeButton, nav.tabs, header, form, .repInspector.moving caption, .representatives thead, footer {
  cursor: default;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none; }

.tab, header h1, header p, footer,
aside {
  width: 100%;
  max-width: 700px;
  margin: 0 auto; }

#map {
  width: 10em;
  height: 14em; }
  #map svg {
    width: 100%;
    max-width: 100%;
    max-height: 14em; }
  #map path {
    cursor: pointer;
    fill: #fff;
    stroke-width: 1px;
    stroke: #ccc; }
  #map path:hover,
  #map path.active:hover {
    stroke-width: 2px;
    stroke: #111;
    fill-opacity: .5; }
  #map path.active {
    stroke-width: 1px;
    fill: #ddd;
    stroke: #111; }

circle {
  cursor: pointer; }

circle.linke {
  fill: #d703d7; }
  circle.linke:hover {
    fill: #fc44fc; }

.arc.linke {
  fill: #ffebff; }

circle.spd {
  fill: #f90000; }
  circle.spd:hover {
    fill: #ff6060; }

.arc.spd {
  fill: #ffebeb; }

circle.gruene {
  fill: #64dc00; }
  circle.gruene:hover {
    fill: #98ff43; }

.arc.gruene {
  fill: #f4ffeb; }

circle.cducsu {
  fill: #111; }
  circle.cducsu:hover {
    fill: #444444; }

.arc.cducsu {
  fill: whitesmoke; }

@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot?xtrrev");
  src: url("../fonts/icomoon.eot?#iefixxtrrev") format("embedded-opentype"), url("../fonts/icomoon.woff?xtrrev") format("woff"), url("../fonts/icomoon.ttf?xtrrev") format("truetype"), url("../fonts/icomoon.svg?xtrrev#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }
nav.tabs {
  position: fixed;
  z-index: 10;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgba(249, 249, 249, 0.95); }
  nav.tabs ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center; }
  nav.tabs li {
    display: inline-block; }
  nav.tabs a {
    font-weight: normal;
    font-size: .8em;
    display: inline-block;
    padding: .5em .7em;
    border-bottom: none;
    cursor: pointer; }
    nav.tabs a.inactive {
      color: #cec4c4; }
    nav.tabs a:before {
      content: '';
      font: 20px/1em icomoon;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      display: block;
      padding: .2em 0; }
    nav.tabs a.filter:before {
      content: "\e600"; }
    nav.tabs a.parliament:before {
      content: "\e601"; }
    nav.tabs a.table:before {
      content: "\e602"; }

/* Spinner and scaleout animation: Copyright (c) 2014 Tobias Ahlin, https://github.com/tobiasahlin/SpinKit, MIT License */
.loading .spinner {
  width: 40px;
  height: 40px;
  margin: 100px auto;
  background-color: #333;
  border-radius: 100%;
  -webkit-animation: scaleout 1.0s infinite ease-in-out;
          animation: scaleout 1.0s infinite ease-in-out; }
.loading .tab, .loading footer {
  display: none; }

@-webkit-keyframes scaleout {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0); }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 0; } }

@keyframes scaleout {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0); }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 0; } }
.unsupportedMessage {
  font: 1.2em Verdana, sans-serif;
  position: fixed;
  z-index: 20;
  display: none;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 1em;
  background-color: #eee;
  color: #555; }
  .unsupportedMessage:before {
    content: "ಠ_ಠ"; }

/*body*/
.unsupported,
.no-svg,
.no-inlinesvg {
  margin: 0; }
  .unsupported .unsupportedMessage,
  .no-svg .unsupportedMessage,
  .no-inlinesvg .unsupportedMessage {
    display: block; }

body {
  position: relative;
  font: 1em/1.2em Georgia, "Linux Libertine", serif;
  margin: 10px;
  padding-bottom: 5em; }

a {
  text-decoration: none;
  color: #c60000; }
  a:hover {
    border-bottom: 1px solid #c60000; }
  a:visited {
    color: #f90000; }
  a:visited:hover {
    border-bottom-color: #f90000; }

abbr {
  cursor: inherit;
  border: none; }

header {
  margin: -10px;
  margin-bottom: 1em;
  background-color: rgba(249, 249, 249, 0.95);
  border-bottom: 1px solid rgba(236, 236, 236, 0.95);
  padding: 0.8em 10px 0.5em; }
  header h1 {
    font-size: 1.2em;
    line-height: 1em;
    font-weight: normal; }
  header p {
    margin-top: .5em;
    display: none; }

#parliamentView {
  overflow: hidden;
  width: 100%;
  margin: 0 auto; }

form {
  text-align: left; }

fieldset {
  position: relative;
  float: left;
  margin: 0 1em 1em 0;
  padding: 0;
  text-align: left;
  vertical-align: top;
  border: none;
  width: 180px; }
  fieldset legend {
    display: none; }
  fieldset ul {
    margin: 0;
    padding: 0;
    list-style: none;
    line-height: 1em;
    font-size: .9em; }

fieldset:last-child:after {
  display: block;
  content: "";
  clear: left; }

label, #land .convenienceButtons input {
  font-family: Verdana, sans-serif;
  text-align: left;
  display: inline-block;
  padding: 0.3em 0.6em;
  cursor: pointer;
  transition: all 0.1s ease;
  border: 1px solid transparent;
  overflow: hidden;
  -webkit-appearance: none;
  -webkit-border-radius: 0;
  border-color: #dad2d2;
  color: #6d5959;
  background-color: #e5e0e0; }
  label:before, #land .convenienceButtons input:before {
    display: inline-block;
    width: 0.7em;
    margin-left: -1em;
    content: " ";
    opacity: 1; }
  label:hover, #land .convenienceButtons input:hover {
    border-color: #cec4c4;
    color: #6d5959;
    background-color: #dad2d2; }
  label:active, #land .convenienceButtons input:active {
    border-color: #c3b6b6;
    color: #6d5959;
    background-color: #cec4c4; }
  label.active, #land .convenienceButtons input.active {
    padding-left: 1.6em;
    border-color: #ad0000;
    color: #fff;
    background-color: #c60000; }
    label.active:before, #land .convenienceButtons input.active:before {
      content: "✓";
      opacity: 1; }
    label.active:hover, #land .convenienceButtons input.active:hover {
      border-color: #930000;
      color: #fff;
      background-color: #ad0000; }
    label.active:active, #land .convenienceButtons input.active:active {
      border-color: #7a0000;
      color: #fff;
      background-color: #930000; }
  label:focus, #land .convenienceButtons input:focus {
    outline: none; }

input[type=checkbox] {
  display: none; }

#land ul {
  display: none; }

.uiHint {
  z-index: 3;
  font-size: .8em;
  position: absolute;
  top: 100%;
  height: auto;
  margin-bottom: -1.5em;
  padding: .2em;
  transition: all 0.2s ease;
  pointer-events: none;
  opacity: 1;
  background-color: rgba(255, 255, 255, 0.9); }
  .uiHint .modifierKey:before {
    content: "⇧"; }

.collapsed,
.startCollapsed {
  top: 95%;
  opacity: 0; }

input[type=submit] {
  display: none; }

.convenienceButtons {
  display: none; }

.closeButton {
  display: none;
  -webkit-appearance: none;
  box-sizing: border-box;
  position: absolute;
  top: .35em;
  right: .35em;
  line-height: 1em;
  width: 2em;
  height: 2em;
  padding: 0;
  cursor: pointer;
  border: none;
  border-radius: 1em;
  outline: none;
  background-color: transparent;
  text-align: center; }
  .closeButton:hover {
    background-color: rgba(0, 0, 0, 0.2); }
  .closeButton:active {
    background-color: rgba(0, 0, 0, 0.3); }

.fixed .closeButton {
  display: inline-block; }

#land .convenienceButtons {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  margin: 0; }
  #land .convenienceButtons.allSelected {
    display: none; }
  #land .convenienceButtons input {
    font-size: .9em;
    margin: 0; }
  #land .convenienceButtons .invertSelection {
    display: none; }

form > .convenienceButtons {
  display: none;
  top: .4em;
  right: 1em; }

.linke {
  color: #d703d7; }

.spd {
  color: #f90000; }

.gruene {
  color: #64dc00; }

.cducsu {
  color: #111; }

.hidden {
  display: none; }

.repInspector {
  position: fixed;
  z-index: 10;
  box-sizing: border-box;
  max-height: 100%;
  margin: 1em 0 0 0;
  padding: .65em;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0.95);
  box-shadow: 0 0.1em 0.75em rgba(0, 0, 0, 0.1); }
  .repInspector.moving {
    pointer-events: none; }
    .repInspector.moving thead,
    .repInspector.moving tbody,
    .repInspector.moving tfoot {
      display: none; }
    .repInspector.moving caption {
      display: block;
      text-align: left; }
      .repInspector.moving caption:after {
        display: block;
        content: " (Für Details klicken)"; }
  .repInspector.fixed {
    overflow: auto;
    width: 22em; }
    .repInspector.fixed caption {
      display: none; }
  .repInspector h2 {
    margin: .2em 0 .5em;
    padding: 0 1.5em 0 0; }
  .repInspector .faction {
    text-transform: uppercase; }
  .repInspector .faction,
  .repInspector .land,
  .repInspector .mandate {
    font: 0.8em Verdana, sans-serif; }
  .repInspector .faction,
  .repInspector .land {
    margin-right: .1em;
    padding-right: .5em;
    border-right: 1px solid rgba(0, 0, 0, 0.2); }
  .repInspector a {
    color: #000; }
    .repInspector a:hover {
      border-bottom: 1px solid #000; }
    .repInspector a:visited {
      color: #1a1a1a; }
    .repInspector a:visited:hover {
      border-bottom-color: #1a1a1a; }

.repInspector.clone {
  top: 0 !important;
  left: 0 !important;
  display: block;
  visibility: hidden; }

tr.cat0 {
  color: #a8a8a8; }

table {
  font-size: .8em;
  width: 100%;
  border-collapse: collapse; }

tfoot th,
tfoot td {
  line-height: 2em;
  padding: 0; }

thead,
tbody,
tfoot {
  margin: 0 -.8em;
  padding: 0 .8em; }

thead,
tfoot {
  z-index: 3; }

tbody {
  z-index: 2;
  overflow: auto;
  border: 1px solid rgba(0, 0, 0, 0.05);
  border-right: none;
  border-left: none;
  -webkit-overflow-scrolling: touch; }
  tbody tr:hover {
    background-color: rgba(0, 0, 0, 0.05); }

thead th {
  cursor: pointer; }
  thead th:active {
    background-color: rgba(0, 0, 0, 0.05); }

thead .sorted-1:after,
thead .sorted1:after {
  content: "";
  font-size: .8em;
  margin-left: .5em;
  color: #999999; }

thead .sorted-1:after {
  content: "▼"; }

thead .sorted1:after {
  content: "▲"; }

.minAmount,
.minSum {
  min-width: 5em;
  text-align: right; }

th {
  text-align: left; }

th.number {
  text-align: right; }

td,
th {
  padding: .3em 0;
  vertical-align: bottom; }

.nebeneinkuenfte td, .nebeneinkuenfte th {
  width: 100%; }
.nebeneinkuenfte tbody {
  max-height: 10em; }
.nebeneinkuenfte thead,
.nebeneinkuenfte tbody,
.nebeneinkuenfte tfoot {
  display: block; }

.representatives th, .representatives td {
  overflow: hidden;
  text-overflow: ellipsis;
  padding: .3em .2em; }
.representatives tbody {
  max-height: 50em; }
.representatives thead th {
  height: 2.5em; }
.representatives tbody tr {
  cursor: pointer; }
.representatives thead .faction {
  color: transparent; }
.representatives tbody .name {
  text-overflow: ellipsis; }
.representatives .land abbr {
  display: none; }
.representatives .faction {
  max-width: 1em;
  vertical-align: top; }
.representatives .faction abbr {
  display: inline-block;
  box-sizing: border-box;
  width: 14px;
  height: 14px;
  margin-bottom: -3px;
  border-radius: 50%;
  overflow: hidden; }
.representatives .count {
  max-width: 2.5em; }
.representatives .minSum {
  position: relative; }
.representatives .bar {
  z-index: 1;
  position: absolute;
  right: 0;
  top: 1px;
  background-color: rgba(0, 0, 0, 0.1);
  height: 100%; }
.representatives .label {
  z-index: 2;
  position: relative; }
.representatives .linke abbr {
  background-color: #d703d7;
  border: 1px solid #af02af; }
.representatives .spd abbr {
  background-color: #f90000;
  border: 1px solid #d00000; }
.representatives .gruene abbr {
  background-color: #64dc00;
  border: 1px solid #51b300; }
.representatives .cducsu abbr {
  background-color: #111;
  border: 1px solid black; }
@media screen and (max-width: 30em) {
  .representatives .land abbr {
    display: inline; }
  .representatives .land .long {
    display: none; } }

.number {
  text-align: right;
  white-space: nowrap; }
  .number .digitGroup {
    padding-right: .2em; }
  .number .euro {
    font-size: .85em; }

.touch #map {
  display: none; }
.touch #land ul {
  display: block; }
.touch label {
  padding-top: .4em;
  padding-bottom: .4em; }

footer,
aside {
  font: 0.8em Verdana, sans-serif;
  clear: both;
  margin: .5em auto;
  padding-top: .5em;
  color: #a8a8a8; }
  footer p,
  aside p {
    float: left;
    margin: 0 0 .2em; }

footer nav ul {
  float: right;
  margin: 0;
  padding: 0;
  list-style: none; }
  footer nav ul li {
    display: inline;
    border-right: 1px solid rgba(0, 0, 0, 0.2);
    padding: 0 .4em 0 .1em; }
    footer nav ul li:last-of-type {
      border: none; }

@media screen and (min-width: 900px) {
  #filterView {
    display: block !important;
    position: fixed;
    width: 180px;
    top: 7em;
    bottom: 0;
    padding-bottom: 3em;
    overflow: auto; }

  .tabs .filter {
    display: none; }

  #parliamentView, #tableView, header h1, header p, footer, aside {
    margin-right: 0; }

  h1 {
    font-size: 1.6em; } }
@media screen and (min-width: 900px), screen and (min-height: 600px) {
  header {
    padding: 2em 10px 1em; }
    header p {
      display: block; } }
@media screen and (max-width: 450px) {
  .repInspector {
    top: 0 !important;
    left: 0 !important;
    box-sizing: border-box;
    width: 100% !important;
    height: 100% !important;
    max-height: 100% !important;
    margin: -1px 0 0 0;
    padding: 1em;
    transition: top 0.5s ease;
    border-right: none;
    border-bottom: none;
    border-left: none;
    border-radius: 0;
    box-shadow: none; }

  .repInspector.fixed {
    margin: 0;
    margin-top: -1px; }

  .repInspector.hidden,
  .repInspector.moving {
    top: 100% !important;
    display: block;
    margin-top: 1px; }

  body.inspectorFixed {
    overflow: hidden; } }
.touch label, .touch #land .selectAll {
  display: block;
  box-sizing: border-box;
  width: 180px;
  padding-top: .8em;
  padding-bottom: .8em; }
.touch li + li label, .touch #land .selectAll {
  border-top: none; }
.touch #land .convenienceButtons {
  position: static; }
.touch .repInspector .convenienceButtons {
  display: inline-block; }

/*# sourceMappingURL=screen.css.map */