%heading-minor {
	font: 1em/1.2 $font-secondary;
}
%heading-selectable {
	@extend %heading-minor;
	text-transform: uppercase;
	letter-spacing: .05em;
	font-weight: bold;
}
%heading {
	@extend %heading-selectable;
	@extend %no-select;
}
%no-select {
	cursor: default;
	user-select: none;
}
%width {
	width: 100%;
	max-width: 700px;
	margin: 0 auto;	
}
@mixin transition ($property, $duration: .2s, $timing: ease) {
	transition: $property $duration $timing;
}
@mixin transform ($args) {
	transform: $args;
}
@mixin link ($color: $color-link) {
	color: $color;
	$color-visited: lighten($color, 10);
	&:hover {
		border-bottom: 1px solid $color;
	}
	&:visited {
		color: $color-visited;
	}
	&:visited:hover {
		border-bottom-color: $color-visited;
	}
}
