#map {
	width: 10em;
	height: 14em;
	svg {
		width: 100%;
		max-width: 100%;
		max-height: 14em;
	}
	path {
		cursor: pointer;
		fill: $color-bg;
		//fill: url(#inactivePattern);
		stroke-width: 1px;
		stroke: darken($color-bg, 25%);
	}
	path:hover,
	path.active:hover {
		stroke-width: 2px;
		stroke: darken($color-bg, 60%);
		fill-opacity: .5;
	}
	path.active {
		stroke-width: 1px;
		fill: darken($color-bg, 15%);
		stroke: darken($color-bg, 60%);
	}
}

circle {
	cursor: pointer;
}

@each $faction in $factions {
	$color-faction: map_get($colors-faction, $faction);

	circle.#{$faction} {
		fill: $color-faction;
		&:hover {
			fill: lighten($color-faction, 20);
		}
	}
	.arc.#{$faction} {
		fill: change-color($color-faction, $lightness: 91%);
	}
}
//.wrongPlacement { stroke: #fff; stroke-width: 3px; }


.arc {
	// stroke: rgba(#fff, .9);
	// stroke-width: 1px;
}
