#map {
	width: 10em;
	height: 14em;
	svg {
		width: 100%;
		max-width: 100%;
		max-height: 14em;
	}
	path {
		cursor: pointer;
		fill: #fff;
		//fill: url(#inactivePattern);
		stroke-width: 1px;
		stroke: #ccc;
	}
	path:hover,
	path.active:hover {
		stroke-width: 2px;
		stroke: #111;
		fill-opacity: .5;
	}
	path.active {
		stroke-width: 1px;
		fill: #ddd;
		stroke: #111;
	}
}

circle {
	cursor: pointer;
}

@each $faction in $factions {
	$color-faction: map_get($colors-faction, $faction);

	circle.#{$faction} {
		fill: $color-faction;
		&:hover {
			fill: lighten($color-faction, 20);
		}
	}
	.arc.#{$faction} {
		fill: change-color($color-faction, $lightness: 96%);
	}
}
//.wrongPlacement { stroke: #fff; stroke-width: 3px; }


// .arc {
// 	@for $i from 1 through 4 {
// 		&:nth-child(#{$i}) { opacity: $i * 0.02; }
// 	}
// }
