tr.cat0 {
	color: $color-diminished;
}
table {
	font-size: .8em;
	width: 100%;
	border-collapse: collapse;
}
tfoot th,
tfoot td {
	line-height: 2em;
	padding: 0;
}
thead,
tbody,
tfoot {
	margin: 0 -.8em;
	padding: 0 .8em;
}
thead,
tfoot {
	z-index: 3;
}
tbody {
	z-index: 2;
	overflow: auto;
	border: 1px solid rgba($color-primary, .05);
	border-right: none;
	border-left: none;
	-webkit-overflow-scrolling: touch;
	tr:hover {
		background-color: rgba($color-primary, .05);
	}
	tr:active {
		background-color: rgba($color-primary, .08);
	}
}
thead th {
	cursor: pointer;
	&:active {
		background-color: rgba($color-primary, .05);
	}
}
thead .sorted-1,
thead .sorted1 {
	&:after {
		content: "";
		font-size: .8em;
		margin-left: .5em;
		color: lighten($color-primary, 60%);
	}
}
thead .sorted-1:after {
	content: "▼";
}
thead .sorted1:after {
	content: "▲";
}
.minAmount,
.minSum {
	min-width: 5em;
	text-align: right;
}
th {
	text-align: left;

	@extend %heading-minor;
}
th.number {
	text-align: right;
}
td,
th {
	padding: .3em 0;
	vertical-align: bottom;
}

.nebeneinkuenfte {
	td, th {
		width: 100%;
	}
	tbody {
		max-height: 10em;
	}
	thead,
	tbody,
	tfoot {
		display: block;
	}
}

.representatives {
	th, td {
		overflow: hidden;
		text-overflow: ellipsis;
		padding: .3em .2em;
	}
	tbody {
		max-height: 50em;
	}
	thead {
		@extend %no-select;
	}
	thead th {
		height: 2.5em;
	}
	tbody tr {
		cursor: pointer;
	}
	thead .faction {
		color: transparent;
	}
	tbody .name {
		text-overflow: ellipsis
	}
	.land abbr {
		display: none;
	}
	.faction {
		max-width: 1em;
		vertical-align: top;
	}
	.faction abbr {
		display: inline-block;
		box-sizing: border-box;
		width: 14px;
		height: 14px;
		margin-bottom: -3px;
		border-radius: 50%;
		overflow: hidden;
	}
	.count {
		max-width: 2.5em;
	}
	.minSum {
		position: relative;
	}
	.bar {
		z-index: 1;
		position: absolute;
		right: 0;
		top: 1px;
		background-color: rgba($color-primary, .1);
		height: 100%;
	}
	.label {
		z-index: 2;
		position: relative;
	}
	@each $faction in $factions {
		$color-faction: map_get($colors-faction, $faction);
		.#{$faction} abbr {
			background-color: $color-faction;
			border: 1px solid darken($color-faction, 8%);
		}
	}
	@media screen and (max-width: 30em) {
		// Use Bundesland abbreviations
		.land {
			abbr { display: inline; }
			.long { display: none; }
		}
	}
	@media screen and (min-width: 40em) {
		td, th {
			padding-top: .35em;
			padding-bottom: .35em;
		}
	}
}
