tr.cat0 {
	color: $color-diminished;
}
table {
	font-size: .8em;
	display: block;
	width: 100%;
	border-collapse: collapse;
}
tfoot th,
tfoot td {
	line-height: 2em;
	padding: 0;
}
thead,
tbody,
tfoot {
	display: block;
	margin: 0 -.8em;
	padding: 0 .8em;
}
thead,
tfoot {
	z-index: 3;
}
tbody {
	z-index: 2;
	overflow: auto;
	max-height: 10em;
	border: 1px solid rgba($color-primary, .05);
	border-right: none;
	border-left: none;
	-webkit-overflow-scrolling: touch;
}
.minAmount,
.minSum {
	min-width: 5em;
	text-align: right;
}
td,
th {
	width: 100%;
	vertical-align: bottom;
}
th {
	text-align: left;

	@extend %heading-minor;
}
th.number {
	text-align: right;
}
td,
th {
	padding: .3em 0;
}

.representatives {
}
