nav.tabs {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	ul {
		list-style-type: none;
		margin: 0;
		padding: 0;
		text-align: center;
	}
	li {
		display: inline-block;
	}
	a {
		@extend %heading;
		font-weight: normal;
		font-size: .9em;
		display: inline-block;
		padding: .3em;
		border-bottom: none;
		cursor: pointer;
		
		&.inactive {
			color: lighten(change-color($color-link, $saturation: 10%), 40%);
		}
	}
}
