nav.tabs {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	ul {
		list-style-type: none;
		margin: 0;
		padding: 0;
		text-align: center;
	}
	li {
		display: inline-block;
	}
	a {
		display: inline-block;
		padding: .3em;
		border-bottom: none;
	}
}
