label, %button {
	
	@mixin colors ($fg, $bg, $context: none) {
		$darken: 0%;
		@if $context == hover { $darken: 5%; }
		@if $context == active { $darken: 10%; }
		border-color: darken($bg, 5% + $darken);
		color: $fg;
		background-color: darken($bg, $darken);
	}

	$color-active-text: #fff;
	$color-active-bg: $color-link;

	$color-inactive-text: adjust-color($color-link, $saturation: -90%, $lightness: +0%);
	$color-inactive-bg: adjust-color($color-link, $saturation: -90%, $lightness: +50%);

	$tickWidth: .7em;
	$paddingV: .3em;
	$paddingH: .6em;

	font-family: $font-secondary;
	display: inline-block;
	padding: $paddingV $paddingH;
	cursor: pointer;
	@include transition(all, .1s);
	border: 1px solid transparent;
	overflow: hidden;
	
	@include colors($color-inactive-text, $color-inactive-bg);
	&:before {
		display: inline-block;
		width: $tickWidth;
		margin-left: (-1 * $tickWidth) - .3em;
		content: " ";
		opacity: 1;
	}
	&:hover {
		@include colors($color-inactive-text, $color-inactive-bg, hover);
	}
	&:active {
		@include colors($color-inactive-text, $color-inactive-bg, active);
	}
	&.active {
		padding-left: $tickWidth + .3em + $paddingH;
		@include colors($color-active-text, $color-active-bg);
		&:before {
			content: "✓";
			opacity: 1;
		}
		&:hover {
			@include colors($color-active-text, $color-active-bg, hover);
		}
		&:active {
			@include colors($color-active-text, $color-active-bg, active);
		}
	}
	&:focus {
		outline: none;
	}
}
input[type=checkbox] {
	display: none;
}
