// @font-face {
//   font-family: 'Montserrat';
//   font-style: normal;
//   font-weight: 400;
//   src: local('Montserrat-Regular'), url(../fonts/Montserrat-Regular-webfont.woff) format('woff');
// }
// @font-face {
//   font-family: 'Montserrat';
//   font-style: normal;
//   font-weight: 700;
//   src: local('Montserrat-Bold'), url(../fonts/Montserrat-Bold-webfont.woff) format('woff');
// }

@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot?xtrrev');
	src:url('../fonts/icomoon.eot?#iefixxtrrev') format('embedded-opentype'),
		url('../fonts/icomoon.woff?xtrrev') format('woff'),
		url('../fonts/icomoon.ttf?xtrrev') format('truetype'),
		url('../fonts/icomoon.svg?xtrrev#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}
