@import "globals";
@import "mixins";
@import "svg";
@import "tabs";

.unsupportedMessage {
	font: 1.2em $font-secondary;
	position: fixed;
	z-index: 20;
	display: none;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	padding: 1em;
	background-color: #eee;
	color: #555;
	&:before {
		content: "ಠ_ಠ";
	}
}

/*body*/.unsupported,
/*html*/.no-svg,
/*html*/.no-inlinesvg {
	margin: 0;
	.unsupportedMessage {
		display: block;
	}
}

body {
	font: 1em/1.2em $font-primary;
	margin: $margin-body;
}
a {
	text-decoration: none;
	@include link;
}
abbr {
	cursor: inherit;
	border: none;
}

header {
	margin: -$margin-body;
	margin-bottom: 1em;
	background-color: $color-chrome;
	padding: 2em $margin-body 1em;

	h1, p {
		@extend %width;
	}
	h1 {
		font-size: 1.6em;
		line-height: 1em;
		font-weight: normal;
		margin-bottom: .5em;
	}
}

#parliamentView {
	overflow: hidden;
	width: 100%;
	margin: 0 auto;
}

form {
	@extend %no-select;

	text-align: left;
}
fieldset {
	position: relative;
	display: inline-block;
	margin: 2em 1em 0 0;
	padding: 0;
	text-align: left;
	vertical-align: top;
	border: none;

	legend {
		margin: 1em 0 .2em 0;

		@extend %heading;
	}
	ul {
		margin: 0;
		padding: 0;
		list-style: none;
		line-height: 1em;
		font-size: .9em;
	}
}

@import "togglebuttons";

#land ul {
	display: none;
}
.uiHint {
	font-size: .8em;
	position: absolute;
	bottom: 100%;
	height: auto;
	margin-bottom: -1.5em;
	padding: .2em;

	@include transition(all);
	pointer-events: none;
	opacity: 1;
	background-color: rgba(#fff, .9);
	.modifierKey:before {
		content: "⇧";
	}
}

.collapsed,
.startCollapsed {
	bottom: 95%;
	opacity: 0;
}

input[type=submit] {
	display: none;
}
.convenienceButtons {
	display: none;

	.close {
		line-height: 2em;
		width: 2em;
		height: 2em;
		margin: -.25em;
		cursor: pointer;
		border: none;
		border-radius: 1em;
		outline: none;
		background-color: transparent;

		@extend %heading;
		&:hover {
			background-color: rgba($color-primary, .2);
		}
		&:active {
			background-color: rgba($color-primary, .3);
		}
	}
}
#land .convenienceButtons {
	display: inline-block;
	position: absolute;
	top: 1em;
	left: 0;
	margin: 0;

	&.allSelected {
		display: none;
	}
	input {
		@extend %button;
		font-size: .9em;
	}
	.invertSelection {
		display: none;
	}
}

form>.convenienceButtons {
	display: none;
	top: .4em;
	right: 1em;
}

@each $faction in $factions {
	$color-faction: map_get($colors-faction, $faction);
	.#{$faction} {
		color: $color-faction;
	}
}

.hidden {
	display: none;
}

@import "repInspector";
@import "table";

.number {
	text-align: right;
	white-space: nowrap;
	.digitGroup {
		padding-right: .2em;
	}
	.euro {
		font-size: .85em;
	}
}

.touch {
	#map {
		display: none;
	}
	#land ul {
		display: block;
	}
	label {
		padding-top: .4em;
		padding-bottom: .4em;
	}
}
footer,
aside {
	@extend %width;

	font: .8em $font-secondary;
	clear: both;
	margin: .5em auto;
	padding-top: .5em;
	color: $color-diminished;
	p {
		float: left;
		margin: 0;
	}
}
footer {
	nav ul {
		float: right;
		margin: 0;
		padding: 0;
		list-style: none;

		li {
			display: inline;
			border-right: $subtleBorder;
			padding: 0 .4em 0 .1em;

			&:last-of-type {
				border: none;
			}
		}
	}
}
