@import "globals";
@import "mixins";

.unsupportedMessage {
	font: 1.2em $font-secondary;
	position: fixed;
	z-index: 20;
	display: none;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	padding: 1em;
	background-color: #eee;
	color: #555;
	&:before {
		content: "ಠ_ಠ";
	}
}

/*body*/.unsupported,
/*html*/.no-svg,
/*html*/.no-inlinesvg {
	margin: 0;
	.unsupportedMessage {
		display: block;
	}
}

body {
	font: 1em/1.2em $font-primary;
}
a {
	text-decoration: none;
	@include link;
}
abbr {
	cursor: inherit;
	border: none;
}

#parliamentContainer {
	overflow: hidden;
	width: 100%;
	margin: 0 auto;
}
#parliament {
	z-index: 3;
	width: 100%;
	max-width: 800px;
	height: auto;
	margin: 0 auto;
}

#map {
	width: 10em;
	height: 14em;
	svg {
		width: 100%;
		max-width: 100%;
		max-height: 14em;
	}
	path {
		cursor: pointer;
		fill: #ddd;
		//fill: url(#inactivePattern);
		stroke-width: 1px;
		stroke: #aaa;
	}
	path:hover,
	path.active:hover {
		stroke-width: 2px;
		stroke: #333;
		fill-opacity: .5;
	}
	path.active {
		stroke-width: 1px;
		fill: #fff;
		stroke: #333;
	}
}

form {
	text-align: center;

	@extend %no-select;
}
fieldset {
	position: relative;
	display: inline-block;
	margin: 2em 1em 0 0;
	padding: 0;
	text-align: left;
	vertical-align: top;
	border: none;

	legend {
		margin: 1em 0 .2em 0;

		@extend %heading;
	}
	ul {
		margin: 0;
		padding: 0;
		list-style: none;
	}
	li {
		label {
			$tickWidth: .7em;
			font-family: $font-secondary;
			display: inline-block;
			min-height: 1.3em;
			padding: 0 .1em 0 ($tickWidth + .3em);
			cursor: pointer;
			@include transition(background-color, .1s);
			color: #555;
			&:before {
				display: inline-block;
				width: $tickWidth;
				margin-left: (-1 * $tickWidth) - .3em;
				content: " ";
			}
		}
	}
}
input[type=checkbox] {
	display: none;
}
label:hover {
	background-color: rgba($color-primary, .1);
}
label.active {
	color: $color-primary;
	border-left-color: transparent;
	&:before {
		content: "✓";
	}
}
#land ul {
	display: none;
}
.uiHint {
	font-size: .8em;
	position: absolute;
	bottom: 100%;
	height: auto;
	margin-bottom: -1.5em;
	padding: .2em;

	@include transition(all);
	pointer-events: none;
	opacity: 1;
	background-color: rgba(#fff, .9);
	.modifierKey:before {
		content: "⇧";
	}
}

.collapsed,
.startCollapsed {
	bottom: 95%;
	opacity: 0;
}

input[type=submit] {
	display: none;
}
.convenienceButtons {
	position: absolute;
	top: 1em;
	right: 1em;
	display: inline-block;
	margin: 0;

	.close {
		line-height: 2em;
		width: 2em;
		height: 2em;
		margin: -.25em;
		cursor: pointer;
		border: none;
		border-radius: 1em;
		outline: none;
		background-color: transparent;

		@extend %heading;
		&:hover {
			background-color: rgba($color-primary, .2);
		}
		&:active {
			background-color: rgba($color-primary, .3);
		}
	}
}

form .convenienceButtons {
	display: none;
	top: .4em;
	right: 1em;
}

.linke {
	color: #d703d7;
	fill: #d703d7;
}
.spd {
	color: #da0000;
	fill: #da0000;
}
.gruene {
	color: #58d300;
	fill: #58d300;
}
.cducsu {
	color: #333;
	fill: #333;
}

circle {
	cursor: pointer;
}

circle.linke:hover {
	fill: lighten(#d703d7, 20);
}
circle.spd:hover {
	fill: lighten(#da0000, 20);
}
circle.gruene:hover {
	fill: lighten(#58d300, 20);
}
circle.cducsu:hover {
	fill: lighten(#333, 20);
}
//.wrongPlacement { stroke: #fff; stroke-width: 3px; }

.arc {
	opacity: .25;
}

.hidden {
	display: none;
}

.repInspector {
	position: absolute;
	z-index: 10;
	box-sizing: border-box;
	max-height: 100%;
	margin: 1em 0 0 0;
	padding: .65em;
	border: $subtleBorder;
	border-radius: 4px;
	background-color: rgba(#fff, .95);
	box-shadow: 0 .1em .75em rgba($color-primary, .1);
	&.moving {
		//width: 15em;
		pointer-events: none;
		thead,
		tbody,
		tfoot {
			display: none;
		}
		caption {
			display: block;
			text-align: left;

			@extend %no-select;
			&:after {
				display: block;
				content: " (Für Details klicken)";
			}
		}
	}
	&.fixed {
		overflow: auto;
		width: 22em;
		caption {
			display: none;
		}
	}
	h2 {
		margin: .2em 0 .5em;
		padding: 0 1.5em 0 0; // for close button; remove on wider screens

		@extend %heading-selectable;
	}
	.faction {
		text-transform: uppercase;
	}
	.faction,
	.land,
	.mandate {
		font: .8em $font-secondary;
	}
	.faction,
	.land {
		margin-right: .1em;
		padding-right: .5em;
		border-right: $subtleBorder;
	}
	tr.cat0 {
		color: $color-diminished;
	}
	table {
		font-size: .8em;
		display: block;
		width: 100%;
		border-collapse: collapse;
	}
	tfoot th,
	tfoot td {
		line-height: 2em;
		padding: 0;
	}
	thead,
	tbody,
	tfoot {
		display: block;
		margin: 0 -.8em;
		padding: 0 .8em;
	}
	thead,
	tfoot {
		z-index: 3;
	}
	tbody {
		z-index: 2;
		overflow: auto;
		max-height: 10em;
		border: 1px solid rgba($color-primary, .05);
		border-right: none;
		border-left: none;
		-webkit-overflow-scrolling: touch;
	}
	.minAmount,
	.minSum {
		min-width: 5em;
		text-align: right;
	}
	td,
	th {
		width: 100%;
		vertical-align: bottom;
	}
	th {
		text-align: left;

		@extend %heading-minor;
	}
	th.number {
		text-align: right;
	}
	td,
	th {
		padding: .3em 0;
	}
	// We can't have CDU politicians' names appear in bright red
	@if lightness($color-link) > 20% {
		a { @include link($color-primary); }
	}
}
.repInspector.clone {
	top: 0 !important;
	left: 0 !important;
	display: block;
	visibility: hidden;
}
.number {
	text-align: right;
	white-space: nowrap;
	.digitGroup {
		padding-right: .2em;
	}
	.euro {
		font-size: .85em;
	}
}

.touch {
	#map {
		width: 15em;
		height: 18em;
		padding-top: 3.1em;
	}
	#map svg {
		@include transform(scale(1.5));
	}
	label {
		padding-top: .4em;
		padding-bottom: .4em;
	}
}
footer,
aside {
	font: .8em $font-secondary;
	clear: both;
	max-width: 800px;
	margin: .5em auto;
	padding-top: .5em;
	color: $color-diminished;
	p {
		float: left;
		margin: 0;
	}
}
footer {
	nav ul {
		float: right;
		margin: 0;
		padding: 0;
		list-style: none;

		li {
			display: inline;
			border-right: $subtleBorder;
			padding: 0 .4em 0 .1em;

			&:last-of-type {
				border: none;
			}
		}
	}
}

@media screen and (max-width: 500px) {
	.repInspector {
		position: fixed;
		top: 0 !important;
		left: 0 !important;
		box-sizing: border-box;
		width: 100% !important;
		height: 100% !important;
		max-height: 100% !important;
		margin: -1px 0 0 0;
		padding: 1em;

		@include transition(top, $modalSlidingDuration);
		border-right: none;
		border-bottom: none;
		border-left: none;
		border-radius: 0;
		box-shadow: none;
	}
	.repInspector.fixed {
		margin: 0;
	}
	.repInspector.hidden,
	.repInspector.moving {
		top: 100% !important;
		display: block;
		margin-top: 1px;
	}
	body.inspectorFixed {
		overflow: hidden;
	}
}

@media screen and (min-width: 501px) {
	html:not(.touch) {
		.repInspector {
			h2 {
				padding: 0;
			}
			.close {
				display: none;
			}
		}
	}
}
.short.narrow {
	margin-bottom: 5em;

	form {
		box-sizing: border-box;
		overflow: auto;
		position: fixed;
		z-index: 5;
		bottom: -14em;
		left: 0;
		width: 100%;
		height: 16em;
		padding: .5em;

		@include transition(bottom, $modalSlidingDuration);
		border-top: $subtleBorder;
		background: rgba(#fff, .9);
		&.fullScreen {
			.convenienceButtons {
				display: inline-block;
			}

			height: 100% !important;
			bottom: 0 !important;
			margin-top: 0 !important;
		}
	}
	fieldset,
	fieldset legend {
		margin-top: 0;
		padding-top: 0;
	}
	.uiHint {
		width: 100%;
		bottom: 10%;
		left: 100%;
	}
	.collapsed {
		left: 95%;
	}
}
.short.narrow .fullScreen .uiHint {
	width: 100%;
	left: 0;
	bottom: auto;
	top: 90%;
	z-index: 6;
}
.short.narrow .fullScreen .collapsed {
	top: 85%;
}

html:not(.touch) form:hover {
	bottom: 0 !important;
	margin-top: 0 !important;
}
.touch .short.narrow form {
	height: 20em;
	bottom: -18em;
}
.short.wide {
	fieldset,
	#parliament {
		float: left;
	}
	form {
		float: left;
		max-width: 12em;
	}
	fieldset {
		margin-top: 0;
		margin-bottom: 1em;
	}
	#parliamentContainer {
		float: left;
		margin-right: 2em;
	}
	#parliament {
		position: fixed;
	}
	.uiHint {
		top: 0;
		width: 100%;
		margin-left: -110%;
		text-align: right;
	}
	.collapsed,
	.startCollapsed {
		top: 0;
		margin-left: -100%;
		opacity: 0;
	}
	footer {
		margin-left: 0;
	}
}
@media screen and (max-height: 450px) {
	.short.wide legend {
		display: none;
	}
}
@media print {
	* {
		position: static !important;
	}
	.repInspector {
		display: block;
		width: 100%;
		max-width: 100%;
		border: none;
		box-shadow: none;
		padding: none;
		max-height: none !important;
		&.moving {
			display: none;
		}
	}
	thead,
	tfoot {
		box-shadow: none !important;
	}
	tbody {
		max-height: none !important;
	}
}
