@import 'globals';

@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);

body {
	font: 1em/1.2em $primaryFont;
}
a {
	&:link {
		text-decoration: none;
		color: $linkColor;
	}
	&:visited {
		color: lighten($linkColor, 10);
	}
}

#parliamentContainer {
	overflow: hidden;
	float: left;
	width: 100%;
}
#parliament {
	width: 100%;
	height: auto;
	max-width: 800px;
	margin: 0 auto;
}

#map {
	svg {
		width: 100%;
		max-width: 100%;
		max-height: 14em;
	}
	path {
		fill: url(#inactivePattern);
		stroke-width: 1px;
		stroke: #aaa;
		cursor: pointer;
	}
	path:hover, path.active:hover {
		stroke-width: 2px;
		stroke: #333;
		fill-opacity: .5;
	}
	path.active {
		stroke-width: 1px;
		fill: #fff;
		stroke: #333;
	}
}

@mixin minorHeading {
	font: 1em/1.2 $secondaryFont;
	@include noSelect;
}
@mixin heading {
	@include minorHeading;
	text-transform: uppercase;
	letter-spacing: .05em;
	font-weight: bold;
}
@mixin noSelect {
	cursor: default;
	-webkit-user-select: none;
	user-select: none;
}

form {
	@include noSelect;
}
fieldset {
	position: relative;
	display: inline-block;
	margin: 2em 2em 0 0;
	padding: 0;
	border: none;
	legend {
		@include heading;
		margin: 1em 0 .2em 0;
	}
	ul {
		list-style: none;
		padding-left: .4em;
		margin: 0 0 0 .4em;
		border-left: 1px solid #eee;
	}
	li {
		label {
			font-family: $secondaryFont;
			cursor: pointer;
			display: block;
			color: #555;
			min-height: 1.3em;
			&:before {
				display: inline-block;
				content: ' ';
				width: .75em;
				margin-left: -.8em;
			}
		}
	}
}
input[type=checkbox] {
	display: none;
}
label:hover {
}
label.active {
	color: #000;
	&:before {
		content: '✓';
		background-color: #fff;
	}
}
#land ul {
	display: none;
}
.uiHint {
	transition: all .2s ease;
	font-size: .8em;
	color: #999;
	opacity: 1;
	height: auto !important;
	.modifierKey {
		width: 0;
		overflow: hidden;
	}
	.modifierKey:before {
		content: "⇧";
	}
}

.collapsed, .startCollapsed {
	opacity: 0;
	height: 0 !important;
}

input[type=submit] { display: none; }
.convenienceButtons {
	position: absolute;
	top: 0;
	right: 0;
	text-align: right;
	display: inline-block;
	transition: all .2s ease;

	input {
		width: 2em;
	}

	&.allChecked {
		margin: -.2em 0 .2em;
		opacity: 0;
	}
}

.linke {  color: #d703d7; fill: #d703d7; }
.spd {    color: #da0000; fill: #da0000; }
.gruene { color: #58d300; fill: #58d300; }
.cducsu { color: #333;    fill: #333;    }
//.wrongPlacement { stroke: #fff; stroke-width: 3px; }

.arc {
	opacity: 0.1;
}

.hidden { display: none; }

#repInspector {
	position: absolute;
	background-color: rgba(#fff, .95);
	padding: .5em;
	transition: width .2s ease;
	border: 1px solid rgba(#000, .1);
	box-shadow: 0 .1em .75em rgba(#000, .1);
	margin: 1em 0 0 0;

	&.moving {
		//width: 15em;
		pointer-events: none;
		thead, tbody, tfoot { display: none; }
		caption {
			font-style: italic;
			text-align: left;
			&:after {
				content: ' – Für Details klicken';
			}
		}
	}
	&.fixed {
		width: 20em;
		caption {
			display: none;
		}
	}

	h2 {
		@include heading;
		margin: .2em 0 .5em;
	}
	.meta {
		@include noSelect;
	}
	.faction {
		text-transform: uppercase;
	}
	.faction, .land, .mandate {
		font: .8em $secondaryFont;
	}
	.faction, .land {
		padding-right: .5em;
		margin-right: .1em;
		border-right: 1px solid rgba(#000, .2);
	}

	tr.cat0 {
		opacity: .4;
	}
	table {
		width: 100%;
		display: block;
		border-collapse: collapse;
		font-size: .8em;
	}
	tfoot th, tfoot td {
	}
	thead, tbody, tfoot {
		display: block;
		margin: 0 -.3em;
		padding: 0 .3em;
	}
	thead, tfoot {
		z-index: 3;
	}
	tbody {
		z-index: 2;
		border: 1px solid rgba(#000, .05);
		border-left: none;
		border-right: none;
		max-height: 20em;
		overflow: auto;
		-webkit-overflow-scrolling: touch;
	}
	.minAmount, .minSum {
		text-align: right;
		min-width: 5em;
	}
	tfoot {
	}
	td, th {
		width: 100%;
		vertical-align: bottom;
	}
	th {
		text-align: left;
		@include minorHeading;
	}
	th.number {
		text-align: right;
	}

	td, th, tbody:after {
		padding: .4em 0;
	}
}
.number {
	white-space: nowrap;
	text-align: right;
}

@media screen and (max-height: 500px) {
	form {
		position: absolute;
		height: 3em;
		overflow: hidden;
		bottom: 0;
		left: 0;
		margin: 0;
		background-color: rgba(#fff, .7);
		transition: all .2s ease;

		&:hover {
			bottom: 0;
			height: 80%;
		}
	}
}

@media screen and (min-width: 800px) and (max-height: 730px) {
	#parliamentContainer {
		position: absolute;
		margin-right: 15em;
		float: left;
	}
	form {
		position: absolute;
		top: 0;
		right: 0;
		display: inline-block;
		width: 15em;
		float: right;
	}
}

